<style>

body{background:#06f6f6;}

#genel{width:400px; height:140px; text-align:center; margin:auto; padding:10px; border:2px solid #000; background:#ddccdd; border-radius:10px;}

h1{background:#4488ff; margin:0 0 15px 0; font-weight: 300; border-radius:8px; }

span{font-size: 125%; padding:10px;}

#sonuc{width:100px; border:1px solid #000;}

#result{width:70px;}

#result:hover{background:#eeff00; }

#dogru,#yanlis{font-size: 150%; padding:10px;  margin-top:10px; display:inline-block;}

#dogru{background:#4CAF50;}

#yanlis{background:#D32F2F;}

</style>
